// fill this file and rename it to .env
DATABASE_HOST=db
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_PORT=5432
DATABASE_NAME=
REDIS_PASSWORD=
REDIS_HOST=redis
REDIS_PORT=6379
SECRET_KEY= 
EXPIRATION_TIME=
SERVER_PORT=8081
FRONTEND_URL=http://localhost:......